.loading-modal {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(120, 120, 120, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}