

.wagers-row {
  height: 100px;
  background-color: #eebbbb;
}

.wagers-first-place {
  background-color: gold;
}

.wagers-second-place {
  background-color: silver;
}

.wagers-third-place {
  background-color: burlywood;
}

.wagers-col {
  display: flex;
  align-items: center;
}

.wagers-total {
  font-size: 30px;
}