@import "../../scss/variables.scss";

.racer-stats-container {
  min-height: 100vh;
  background-color: #eee;
}

.racer-stats-body {
  height: 100%;
}

.racer-title {
  font-weight: 700;
  color: $primaryColor;
}

.racer-first-row {
  background-color: #fff;
  border-radius: 13px;
  padding: 15px;
  margin-bottom: 10px;
}

.racer-info-box-top {
  background-color: $primaryColor;
  color: #eee;
}

.racer-history {
  background-color: #fff;
  border-radius: 13px;
  padding: 15px;
  margin-bottom: 10px;
}

.badge-holder {
  flex-wrap: wrap;
}

.racer-summary-title {
  font-size: 20px;
}

.racer-big-num {
  font-weight: 900;
  font-size: 24px;
}

.racer-pct-num {
  color: $primaryColor;
  font-weight: 700;
  font-size: 20px;
}

.racer-data-twitch {
  background-color: #4c357c;
  padding: 10px;
  border-radius: 6px;
  border: none;
  color: #fff;
  transition: all 0.2s;

  &:hover {
    background-color: lighten(#4c357c, 10);
  }
}