@import "../../scss/variables.scss";

.recently-completed-container {
  background-color: #fff;
  margin-top: 30px;
  border-radius: 13px;

  h2 {
    font-weight: 900;
    font-size: 20px;
    color: $primaryColor;
    text-align: center;
  }

  .recently-completed-header {
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
  }

  .recently-completed-data-row {
    border-bottom: 1px solid #ddd;
    padding: 5px 0px;
  }
}