h3 {
  text-align: center;
}

.schedule-title-row {
  font-weight: 700;
}

.standing-winner {
  background-color: goldenrod;
  font-weight: 700;
}

.zz6-schedule {
  padding-bottom: 50px;

  h3 {
    margin: 25px;
  }

}
