@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

// GLOBALS

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.green-text {
  color: #060;
}

.red-text {
  color: #600;
}

.hide-me {
  display: none;
}