.zz4-main {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.zz4-title {
  margin: 15px;
}

.zz4-row {
  border-bottom: 2px solid #ccc;
  padding: 10px 0px;

  p {
    margin: 0;
  }
}

.zz4-rank {
  font-weight: 700;
}