.omg {
  font-family: 'Open Sans', sans-serif;
}

.omg-winner {
  background-color: #aaffaa;
}

.omg-danger {
  background-color: #ffaaaa;
}

.omg-row {
  border-bottom: 2px solid #ddd;
}

.omg-title-row {
  font-weight: 700;
}

.omg-divider {
  height: 100px;
}

.omg-title {
  text-align: center;
}

.omg-button {
  background-color: #fff;
  margin: 50px 0px;
  transition: 0.4s all;
}

.omg-active {
  background-color: #010159;
  color: #fff;
}